# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Directorios de salida
output/

# Archivos de entorno
.env

# Archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
